<div class="header__content-wrapper">
    <h1 class="header__logo"><a class="header__link" href="/">Эмпориум</a></h1>
    <section class="header__category-list">
        <button type="button" class="header__list-button"><img class="header__list-icon" src="../../static/images/textalign-left.svg">Каталог</button>
        <ol class="header__list list not-active">
            {{#each category}}
            <li class="list__item">
                <a class="list__link" href="{{this.redirectUrl}}"><img class="list__icon" src="{{this.iconUrl}}">{{this.name}}</a>
            </li>
            {{/each}}
        </ol>
    </section>

    <form class="header__searchbar searchbar">
        <img class="searchbar__icon" src="../../static/images/lupa.svg">
        <input class="searchbar__input" type="text" placeholder="Поиск по объявлениям">
        <button class="searchbar__find-button" type="submit">Найти</button>
    </form>
    <button type="button" class="header__create-advert-button">Разместить объявление</button>

    {{#if checkAuth}}
    <section class="header__user-menu user-menu ">
        <span class="user-menu__user-name" data-user-id="{{userId}}" data-username="{{userName}}">
            <img src="{{userImgUrl}}" class="user-menu__user-img">
        </span>
        <ol class="user-menu__menu menu not-active">
            <li class="menu__item">
                <a class="menu__link-user" href="/user/adverts" id="{{this.name}}">{{userName}}</a>
            </li>
            <div class="menu__horizontal-line"></div>
            {{#each menuItems}}
            <li class="menu__item">
                <a class="menu__link-{{this.engName}}" href="{{this.redirectUrl}}" id="{{this.name}}"><img class="menu__icon" src="{{this.iconUrl}}">{{this.name}}</a>
            </li>
            {{/each}}
        </ol>
    </section>


    {{else}}

    <button type="button" class="header__button">Войти</button>
    {{/if}}

</div>